* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.imgur.com/zYvDI9t.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#container {
  width: 50%;
  padding: 40px;
  margin: 10px auto 0;
  text-align: center;
  background-image: url("https://i.imgur.com/nkjT6p9.jpg");
  background-repeat: none;
  background-size: cover;
  border: solid 15px #7d4d31;
  border-radius: 25%;
}

.hide{
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

#container > img {
  width: 12%;
  margin: 20px;
}

#container > img:hover {
  cursor: pointer;
}

.container-image {
  height: 200px;
  color: red;
}

.hide-cards {
  filter: brightness(0);
}

.show-cards {
  filter: brightness(1);
}

.button {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

#rules button{
  width: 20%;
  margin: auto;
  text-align: center;
}

button {
  padding: 20px;
  font-size: 25px;
  border: #00f323 solid 2px;
  
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  font-family: "Times New Roman", Times, serif;
  background: rgba(0, 0, 0, 0.7);
  /* background: url('/images/wood.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(0, 243, 35, 0.7);
}

button:hover {
  cursor: pointer;
}

#container-gameOver {
  width: 50%;
  margin: 30vh auto;
  text-align: center;
}

#container-gameOver h1 {
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  background: rgba(0, 0, 0, 0.7);
  /* background: url('/images/wood.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(0, 243, 35, 0.7);
}

#game-rules{
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  width: 20%;
  margin: auto;
  padding: 1rem;
  border: 5px solid rgb(0, 243, 35, 0.7);
  border-radius: 20px;
}

#game-rules li{
  list-style: none;
}

#moves {
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.7);
  /* background: url('/images/wood.jpg');
        background-size: cover;
        background-repeat: no-repeat; */
  width: 15%;
  margin: 10px auto 0;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(0, 243, 35, 0.7);
  padding: 5px;
}

.footer {
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.7);
  /* background: url('/images/wood.jpg');
        background-size: cover;
        background-repeat: no-repeat; */
  width: 10%;
  margin: 10px auto 0;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(0, 243, 35, 0.7);
}

.neon {
  animation: neonAnim 1s alternate-reverse infinite;
  color: #00f323;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  background: rgba(0, 0, 0, 0.7);
  /* background: url('/images/wood.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(0, 243, 35, 0.7);
}

@keyframes neonAnim {
  from {
    text-shadow: 0 0 40px rgba(0, 243, 35, 0.7), 0 0 70px rgba(0, 243, 35, 0.7),
      0 0 130px rgba(0, 243, 35, 0.7);
  }
  to {
    text-shadow: 0 0 35px rgba(0, 243, 35, 0.7), 0 0 50px rgba(0, 243, 35, 0.7),
      0 0 90px rgba(0, 243, 35, 0.7);
  }
}

audio {
  height: 20px;
}

#audio {
  width: 50%;
  margin: auto;
  text-align: center;
}
